<%= form_tag sessions_path, method: 'POST' do %>
<div id="login-user-form">
  <p id="name">
    <input name="login" type="text" class="feedback-input" placeholder="Username/Email" />
  </p>
  <p id="password">
    <input name="password" type="password" class="feedback-input" placeholder="Password" />
  </p>
  <div class="submit">
    <input type="submit" value="SIGNIN" class="button-red" id="signin-button"/>
    <input type="button" value="SIGNUP" class="button-red" id="signup-button"/>
    <div class="ease"></div>
  </div>
</div>
<% end %>