<%= form_tag sessions_path, method: 'POST' do %>
<div id="#login-user-form">
    <p id="name">
    <input name="login" type="text" class="feedback-input" placeholder="Username/Email" />
  </p>
  <p id="password">
    <input name="password" type="password" class="feedback-input" placeholder="Password" />
  </p>
  <div class="submit">
    <input type="submit" value="SIGN IN" class="button-red" id="signin-button"/>
    <%= button_to(new_user_path, class: 'button-red', id: "signup-button", method: :get) do %>
    SIGN UP
    <% end %>
    <div class="ease"></div>
  </div>
</div>
<% end %>