<!-- PARALAX BACKGROUND -->
<div id='container'>
  <div id="group1">
    <div class="foreground">
      <center class="main-heading">B<i class="fa fa-th fa-fw"></i>XED IN</center>
    </div>
  </div>
</div>
<!-- PAPER -->
<div class="box effect2">
  <div id="signin-form">
    <%= render 'form' %>
  </div>
</div>