<% if box.away_team_coord == "A" %>
  <tr>
  <td class="home-score-cell"><h3 class="text-center"><%= box.home_team_num %></h3></td>
<% end %>

<% if winning_boxes.include?(box) %>
  <td>
    <button type="submit" class="btn btn-success btn-lg" name="box_type">
      <i class="fa fa-check fa-fw"></i>
    </button>
  </td>
<% elsif box.user_id == @current_user.id %>
  <td>
    <button type="submit" class="btn btn-warning btn-lg" name="box_type">
      <i class="fa fa-lock fa-fw"></i>
    </button>
  </td>
<% else %>
  <td>
    <button type="submit" class="btn btn-danger btn-lg" name="box_type">
      <i class="fa fa-lock fa-fw"></i>
    </button>
  </td>
<% end %>

<% if box.away_team_coord == "J" %>
  </tr>
<% end %>
