<!-- Check to see if there's a better way to submit this besides value.  Seems like it could be hacked.  -->

<%= form_for box do |f| %>

  <% if box.away_team_coord == "A" %>
    <tr>
    <td class="home-score-cell"><h3 class="text-center"><%= box.home_team_coord %></h3></td>
  <% end %>

  <% if box.user_id == nil %>
    <td>
      <button type="submit" class="btn btn-success btn-lg" name="box_type" value="UnPick">
        <i class="fa fa-check fa-fw"></i>
      </button>
    </td>
  <% elsif box.user_id == @current_user.id %>
    <td>
      <button type="submit" class="btn btn-primary btn-lg" name="box_type" value="Pick">
        <i class="fa fa-fw"></i>
      </button>
    </td>
  <% else %>
    <td>
      <button type="submit" class="btn btn-danger btn-lg" name="box_type" value="Locked">
        <i class="fa fa-lock fa-fw"></i>
      </button>
    </td>
  <% end %>

  <% if box.away_team_coord == "J" %>
    </tr>
  <% end %>

<% end %>
