<% present @game do |game_presenter| %>
  <table class="box-grid">
    <tr>
      <td><h1></h1></td>
      <td colspan="11"><h1 class="text-center"><%= @game.away_team %></h1></td>
    </tr>
    <tr>
    <td rowspan="12"><h1 class="rotate home-team"><%= @game.home_team %></h1></td>
      <% game_presenter.away_letters.each do |away_number| %>
        <td><h3 class="text-center"><%= away_number %></h3></td>
      <% end %>
    </tr>
      <%- @game.boxes.each do |box| %>
        <%= render partial: "boxes/box_form", :locals => { :box => box } %>
      <% end %>
  </table>
<% end %>
