<h4>Open Games</h4>
<% @games.created.each do |game| %>
<%= link_to("#{game.away_team} at #{game.home_team}", edit_game_path(game), class: "open-game") %></br>
<% end %>
<h4>Locked Games</h4>
<% @games.active.each do |game| %>
<%= link_to("#{game.away_team} at #{game.home_team}", game_path(game), class: "locked-game") %></br>
<hr>
<% end %>
<% if @user_boxes %>
<h2><%= link_to("Your Games", user_path(@current_user)) %></h2>
<% end %>
<% if @current_user.role == "admin" %>
<h2><%= link_to("Make a Game", new_admin_game_path) %></h2>
<% end %>