/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 */

@import "bootstrap-sprockets";
@import "bootstrap";
@import "font-awesome";

#banner {
  text-align: center;
}

#user-greeting {
  text-align: left;
}


.box-grid {
  border: none;
  margin-left: 3em;
  margin-right: 3em;
}

.home-team {
  margin: none;
}

.center {
  margin: auto;
}

.page-content {
  text-align: center;
}

.nopadding {
   padding: 0 !important;
   margin: 0 !important;
}

.no-gutter {
  margin-left: 0;
  margin-right: 0;
}

.rotate {

  transform:
    /* 45 is really 360 - 45 */
    rotate(270deg);
  width: 100px;

}

.games-rules {
  color: red;
  font-weight: bold;
}

.main-header {
  color: red;
  font-family: 'Titillium Web', sans-serif;
  font-style: italic;
  font-size: 12vw;
}

.login-div {
  color: red;
  font-family: 'Titillium Web', sans-serif;
  font-style: italic;
  font-size: 18vw;
  text-align: center;

  a {
    text-decoration: none;
    color: red;
  }
}

#flash_msg_container {
  margin-left: 50px;
  margin-right: 50px;
}

.pools {
  margin: auto;
}

#pool-progress-bar {
  // display: none;
  margin-left: 10px;
  margin-right: 10px;
}

.progress {
  margin-bottom: 10px;
}

#rules-div {
  margin-left: 10px;
  margin-right: 10px;
}

#rules-text {
  display: none;
}

.team-cell button:hover {
  background: #3498db;
}

.team-select {
  display: none;
}

#games {
  margin: 0 auto !important;
  float: none !important;
}

#games table {
  // float: right;
}

#games td, th {
  text-align: center;
  padding-left: 0;
  padding-right: 0;
  vertical-align: middle;
}

.pool-submit-button {
  background-color: #2ecc71;
  border: none;
  display: none;
}

.signin-button {
  background-color: #2ecc71;
  border: none;
}

.signup-button {
  background-color: #3498db;
  border: none;
}

.create-player-button {
  background-color: #3498db;
  border: none;
}

.new-game-button {
  background-color: #3498db;
  border: none;
}

#brand-color {
  color: red;
}

.login-bar {
  font-size: 2vw;
}

.login-form{
  padding: auto;
}

.login-text {
  min-height: 20px;
  padding: auto 0;
}

// .login-buttons {
//   float: right;
// }

.label-font {
  color: black;
  font-family: 'Josefin Sans', sans-serif;
}

body {
  color: black;
  font-family: 'Sanchez', serif;
  font-weight: lighter;
  padding-left: 5em;
  padding-right: 5em;
  background-size: 100% auto;
}

.home-score-cell {
  padding-left: 20px;
  padding-right: 10px;
  vertical-align: middle;
  margin: 0 0;
}

.dtable {
    display:table;
    width:100%;
}

.drow {
    display:table-row;
    width:100%;
}

.dcell {
    display:table-cell;
}

#away-team-space{
    min-width:160px;
}

#away-team{
    min-width:571px;
    width: 84%;
    padding: 1%;
    vertical-align: middle;
}

#away-numbers{
    width:100%;
}

.grid-letters{
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 16px;
    padding-right: 16px;
}

#home-team {
    width:1%;
    padding: 1%;
    vertical-align: middle;
}

#home-numbers {
    width:9%;
    padding: 1%;
}

#chart_container {
    width:84%;
    padding:1%;
}

#box-container {
  padding-left: 3em;
  padding-right: 3em;
}

.box-cell {
    width:8%;
    vertical-align: middle;
    text-align: center;
}

.num-cell {
  width:100%;
}

h3 {
  margin: 0;
}

form {
  display: inline;
}

.home-letters {
  text-align: right;
}

