<!DOCTYPE html>
<html>
<head>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>

<div id='container'>
  <div id="group1">
    <div class="background">
      <center>I'm an element far away.</center>
    </div>
    <div class="foreground">
      <center>I'm an element close by.</center>
    </div>
  </div>
</div>

<div id="menu">
  <label for="expander"> Tap here </label>
  <input type="checkbox" id="expander" />
  <div id="expandee">
    <ul>
      <li><a href="#anchor1">Bibitty</a></li>
      <li><a href="#anchor1">Gaga</a></li>
      <li><a href="#anchor1">Booboo</a></li>
    </ul>
  </div>
</div>


<div class="page-content">
</div>

</body>
</html>

