<nav class="cd-stretchy-nav">
  <a class="cd-nav-trigger" href="#0">
    Menu
    <span aria-hidden="true"></span>
  </a>

  <ul>
    <li><a href="#0" class="active"><span>Home</span></a></li>
    <li><a href="#0"><span>My Games</span></a></li>
    <li><a href="#0"><span>My Boxes</span></a></li>
    <li><a href="#0"><span>Profile</span></a></li>
    <li><a href="#0"><span>Signout</span></a></li>
  </ul>

  <span aria-hidden="true" class="stretchy-nav-bg"></span>
</nav>